/* components/ServicesOverview.module.css */
.overview {
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow: hidden;
  /* Hide overflowing content */
  position: relative;
  width: 100%;
  height: min-content;
  padding: 40px 40px 50px;
}

.card {
  background: linear-gradient(90deg, rgba(17, 6, 20, 1) 0%, rgba(116, 0, 139, 1) 100%);
  border-radius: 8px;
  padding: 1rem 1.2rem;
  text-align: left;
  color: rgba(207, 136, 221, 1);
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(119, 38, 137, 0.72);
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.2;
  width: 250px;
  height: 120px;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  flex: 0 0 auto;
}

.slider {
  display: flex;
  animation: scrollCards 20s linear infinite;
  /* Apply continuous scrolling animation */
}

@keyframes scrollCards {
  0% {
    transform: translateX(0);
    /* Start at the initial position */
  }

  100% {
    transform: translateX(-100%);
    /* Move the entire list to the left */
  }
}

/* Duplicate the card list for seamless scrolling */
.overview::after {
  content: '';
  display: block;
}

.icon {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.5rem;
}



@media (max-width: 768px) {
  .overview {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    gap: 1rem;
    padding-left: 1rem;
    /* Adjust padding to prevent cutting off */
    justify-content: flex-start;
    /* Align items to the start */
    scrollbar-width: none;
    /* Firefox */
  }

  .overview::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
  }

  .card {
    flex: 0 0 auto;
  }

  .card:first-child {
    flex: 0 0 100%;
    /* Ensure the first card takes full width */
    margin-right: 1rem;
    /* Add spacing after the first card */
  }

  .overview::after {
    content: '';
    flex: 0 0 1rem;
    /* Gives some right-end breathing space */
  }
}